body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-size: 13px;
	font-weight: bold;
	font-family: Tahoma, Geneva, sans-serif, arial, verdana;
	background-color: #499af9;
	background-image: url(./img/background.png);
	background-position: 0 0;
	background-size: 32px 32px;
}


.game {
	position: relative;
	width: 100%;
	height: 100vh; /* Заполнение всей высоты экрана */
	display: flex;
	justify-content: center; /* Горизонтальное выравнивание по центру */
	align-items: center; /* Вертикальное выравнивание по центру */
	overflow: hidden; /* Предотвращение прокрутки */
}

.game .gameField {
	width: 1280px;
	height: 749px;
	position: relative;
}

.game .gameField canvas {
	image-rendering: pixelated;
}

.game .gameField #controls {
	width: 100%;
	height: 45px;
	/*background: #ccc;*/
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.game .gameField #controls .itm {
	display: inline-block;
	float: left;
	margin: 7px 0;
}

.game .gameField #controls .itm .key {
	width: 32px;
	height: 32px;
	background: #fff;
	border-radius: 5px;
	text-align: center;
	line-height: 32px;
	border: 1px solid #666;
	float: left;
	margin: 0 3px;
}

.game .gameField #controls .itm .key.space {
	width: 64px;
}

.game .gameField #controls .itm .value {
	display: inline-block;
	height: 32px;
	line-height: 32px;
	padding: 0 5px;
	color: #000000;
}
